*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Grape Nuts', cursive;
    color: aliceblue;
}
body{
    background-image: url('../images/quadroNegro.jpg');
    // background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    text-align: center;
    height: 100vh;

    .container{
        width: 95%;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 3rem;
            margin: 20px;
        }
        label{
            margin-bottom: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }
        input{
            margin: auto;
            width: 50%;
            text-align: center;
            color: black;
            margin-bottom: 20px;
        }
        .calcular{
            margin-top: 20px;
            margin-bottom: 30px;
            button{
                color: black;
                padding: 10px 15px;
                text-align: center;

            }
        }
        .results{
            border: 3px dotted ;
            width: 70%;
            text-align: left;
            margin: auto;
            font-size: 1.3rem;
            background-color: rgba(255, 255, 255, 0.534);
            // text-align: left;
            
            p{
                margin-left: 30%;
            }
            
        }
    }
}
.p{
    color:black;
    font-weight: bold;
    margin-top: 10px 0;

}